::ng-deep .timeline-slider {
    width: 50vw;
}

::ng-deep #container {
    overflow: hidden;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
    background-color: #1ab394 !important;
}

::ng-deep .ngx-slider .ngx-slider-tick,
::ng-deep .ngx-slider .ngx-slider-bar {
    background-color: #D2F0EA !important;
}