#container {
    width: 100vw;
    height: 100vh;
    
    & ::ng-deep svg {
        overflow: visible;
    }
}

::ng-deep .ngx-slider-model-value {
    font-size: 24px;
    font-weight: bold;
}